<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    {{>header}}
    <p>This Website is Created By Raghav Popli.It uses Data form mapbox.com and darksky.net</p>
    <img id="image"src="./img/pokemon.jpg" >
     {{>footer}}   
</body>
</html>